<footer class="footer py-2 my-3" style="background-color:#414141; font-size: 18px;">
        <ul class="nav justify-content-center border-bottom pb-2 mb-2 ">
            <li class="nav-item link"><a href="/home" class="nav-link px-2 ">Home</a></li>
            <li class="nav-item link"><a href="/catalog/1" class="nav-link px-2 ">Catalog</a></li>
            <li class="nav-item link"><a href="/About" class="nav-link px-2 ">About</a></li>
        </ul>
        <p class="text-center ">&copy; 2022 E-Fair</p>
</footer>
<script type="text/javascript" src="/js/index.js"></script>