<footer class="footer py-5" style="background-color:#414141 ;">
    <div class="container d-flex flex-row flex-wrap justify-content-around " style="font-size: 22px;">
        <div class=" d-flex flex-column flex-wrap link">
            <a href="/payment">Payment methods</a>
            <a href="/rules">Rules of sale</a>
            <a href="/fq">How to place an order</a>
        </div>
        <div class=" d-flex flex-column flex-wrap link">
            <a href="/about">About Us</a>
            <a href="/company">Company</a>
            <a href="#">Requisites</a>
            <a href="/about">Contacts</a>
        </div>
        <div class=" d-flex flex-column flex-wrap link">
            <a href="/licence">Obtaining a license for sale</a>
            <a href="/fq">Product placement rules</a>
        </div>
    </div>
    <script type="text/javascript" src="/js/index.js"></script>
</footer>