<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0;">
    <div class=" container-fluid " style="background-color: #9CD821;">
        <div class="container justify-content-around d-flex flex-wrap">
            <a class="navbar-brand d-flex flex-row logo" href="/home" ><img src="/images/logo.svg"> <p class="text-center pt-3 logo">E-FAIR</p>  </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 906; margin-left: 250px;">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row flex-wrap">
                    <li class="nav-item" style="margin-left: 300px;">
                        <a href="/cart">
                            <img src="/images/cart.png">
                        </a>

                    </li>
                    <li class="nav-item">
                        <%if(auth){%>
                            <a href="/user/profile/<%-auth.username%>">
                                <img src="<%-auth.avatarUrl?auth.avatarUrl:""%>" class="rounded-circle" width="72">
                            </a>
                        <%}else{%>
                            <a href="/login">
                                <img src="/images/login.png">
                            </a>
                        <%}%>
                    </li>
                </ul>

            </div>
        </div>
        
    </div>
</nav>
