<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/head') %>
</head>
<body>
<%- include('components/nav' )%>
<div class=" container-fluid mainsection" >
    <section class="container-fluid py-5" style="border-radius: 67px;background-color: #F2F2F2;">
        <div class="container" id="top" style="margin-top: 150px;">

                <div class="d-flex flex-row flex-wrap justify-content-center">
                    
                    <%-product[k]%>
                </div>

        </div>
        <div>
            <a href=""></a>
        </div>

    </section>
</div>
<%- include('components/footer')%>
</body>
</html>