<!DOCTYPE html>
<html lang="en">
<head>
 <%- include('components/head') %>
</head>
<body>
<%- include('components/nav') %>
    <div class=" container-fluid py-5 d-flex flex-wrap justify-content-center align-items-center " style="height:800px;background-color: #f2f2f2; border-radius: 67px;">

        <div class="col-md-3 d-flex flex-column flex-wrap"  >
            <h2 style="font-size:50px;" >
                404 Not Found
            </h2>
            <div class="error-details">
                Oh shit here we go again 
            </div>
            <div class="error-actions">
                <a href="home" class="btn btn-primary btn-lg">
                    Go Home 
                </a>
            </div>
        </div>

    </div>

    <%- include('components/footer')%>
</body>
</html>