<!doctype html>
<html lang="en">
<head>
    <%- include('components/head')%>
</head>
<body>
<%- include('components/nav') %>
    <div class="container">
        <form>
            
        </form>
    </div>
<%- include("components/footer")%>
</body>
</html>