body{
    font-family: 'Inter', sans-serif;
    background: linear-gradient(180deg, #9CD821 0%, #414141 66.67%);
}
.sticky{

    position: sticky;
}
.centered {
    background-image: url("https://mir-s3-cdn-cf.behance.net/8de60359fc76f43fe7a318c79436eb45/16374a83-19a3-45d4-8f64-6ca1f3d340bc_rwc_0x982x3840x540x3840.jpg?h=e0916e5ecdadc8cd1ebe826393b77deb");
    color: #9CD821;
}

.carousel-indicators{
    color: black;
}
.default_text{
    text-align: center;
}
.heading{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.nav-link{
    color: black;
}






.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin: auto;
    text-align: center;
}
.card-title{
    text-align: center;
}
.line {
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    border-top: 1.5px solid green;
    border-bottom: 1.5px solid darkgreen;
}
.box{
    padding: 80px;
    background-color: darkgray;
    opacity: 0.8;
    border: 1px solid black;
    border-radius: 1em;
}
.containerBanner {
    position: relative;
    margin-left: 10%;
    width: 100%;
    max-width: 80%;
    margin-bottom: 5%;
}

.containerBanner img {
    width: 100%;
    height: auto;
    border-radius: 2em;
}

.containerBanner .showmore {
    position: relative;
    left: 90%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    font-size: 18px;
    padding: 12px 32px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;

}

.containerBanner .showmore:hover {
    background-color: gray;
    border-radius: 7px;
}
.banner{
    border-radius: 15%;
    max-width: 80%;
    height: auto;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 300px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 75%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    margin-left: auto;
    margin-right: 2%;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #236400;
    color: white;
    padding-left: 2%;
    padding-top: 1.5%;
    padding-bottom: 2%;
    padding-left: 2%;

}