<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/head') %>

</head>
<body>
<%- include('components/nav') %>
<div class=" container-fluid py-5 d-flex flex-column flex-wrap  " style="height:800px;background-color: #f2f2f2; border-radius: 67px;">
    <h1 class="text-center">New Product Ad</h1>
    <div class="container">
        <form enctype="multipart/form-data"  action="/newAd" method="post"  >
            <div>
                <ul class="form-control" style="list-style-type: none">
                    <li >
                        <div class="container d-flex flex-row">
                            <input class="form-control" type="text" name="productName" placeholder="Product name" style="width: 400px; height: 40px; position: relative; left: 150px; border-radius: 45px;">
                            <input class="form-control" type="text" name="cost" placeholder="Cost" style="width: 400px; height: 40px; position: relative; left: 300px; border-radius: 45px;">
                        </div>
                    </li>
                    <li style="margin-top: 50px;">
                        <h3 style="position: relative; left: 600px; border-radius: 45px; width: 100px;">Photo</h3>
                        <input  formenctype="multipart/form-data" class="form-control" style= " margin: 0px;width: 400px; height: 40px; position: relative; left: 450px; border-radius: 45px; top: 30px;" type="file" name="images" accept="image/apng, image/avif, image/gif, image/jpeg, image/png, image/svg+xml, image/webp"  multiple>
                    </li>
                    <li style="position: relative; margin-top: 50px;">
                        <div class="container d-flex flex-row">
                            <h3 style="position: relative; left: 600px; border-radius: 45px; top: 30px; margin: 0px; width: 100px;">Type</h3>
                            <select  name="type" class="form-select" style= "margin: 0px;width: 400px; height: 40px; position: relative; left: 350px; border-radius: 45px; top: 80px;">
                                <option value="OTHER">Other</option>
                                <option value="MEAT">Meat</option>
                                <option value="MILK">Milk</option>
                                <option value="FRUIT">Fruit</option>
                                <option value="VEGETABLES">Vegetables</option>
                            </select>
                        </div>
                    </li>
                    <li >
                        <div class="container d-flex flex-row" style="margin: 50px;">
                            
                            <textarea class="form-control" type="text" name="productDescription" placeholder="Description" style="margin: 0px;width: 800px; height: 174px; position: relative; left: 200px; border-radius: 45px; top: 60px;"></textarea>
                        </div>
                    </li>
                    <button type="submit" class="btn btn-success submit-button" style="margin-top: 30px;">Create new ad</button>
                </ul>

            </div>

        </form>
    </div>

</div>
<%- include('components/footer')%>
</body>
</html>