body{
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #9CD821 9%, #414141 51.26546%);
}
a{
    color: black;
    text-decoration: none;
}
.logo p{
    font-size: 48px;;
}
.mainsection{
    background: linear-gradient(180deg, #9CD821 0%, #414141 66.67%); 
    padding: 0px;
}
.sections{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f2f2f2;
    border-radius:67px;
}
.inSections{
    border-radius: 25px;  filter: drop-shadow(20px 15px 20px rgba(164, 164, 164, 0.25));
}

.item{
    background-color: #F6F6F6;
    border-radius: 25px;
    width: 300px;
    height: 350px;
    filter: drop-shadow(20px 15px 20px rgba(164, 164, 164, 0.25));
    font-size: 28px;
    padding: 30px 5px 30px 5px;
    margin-right: 0px;
    margin-bottom: 20px;
}
.item img{
    position: relative;
    width: 220px;
    height: 220px;
    left: 35px;
    border-radius: 25px;
}

.types {
    width: 300px;
    height: 228px;
    background-color: #F6F6F6;
    filter: drop-shadow(20px 15px 20px rgba(164, 164, 164, 0.25));
    text-align: center;
    border-radius: 25px;
    margin: 0px;
}
.types:hover{

    color:#9CD821;
}

.link a{
    text-decoration: none;
    color: #E2E2E2;
}
.link a:hover{
    text-decoration: none;
    color: #9CD821;
}
.viewMore {
    background-color: #9BD524;
    border: 0px;
    border-radius: 40px;
    width: 446px;
    color: white;
    margin-bottom: 150px;
    margin-left: 400px;
    margin-top: 30px
}
@media screen and (max-width: 1024px) {
    .viewMore {
        margin-left: 30px;
    }
}

.search{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1400;
    background: rgba(0,0,0,.6);
    -webkit-animation: fade .2s ease;
    animation: fade .5s ease;
}
.hidden{
    display: none!important;
    visibility: hidden;
}
.search_container{
    max-width: 760px;
    margin: 0 auto;
    padding: 0 80px;
}
.search_inner{
    min-height: 100vh;
    padding-top: 35px;
}
.search_suggestion{
    max-height: calc(100vh - 92px);
    overflow-y: auto;
    background-color: #ffffff;
}
.search_suggestion a:hover{
    color: black;
}
.ad_list_cover{
    display: block;
    width: 85px;
    height: 110px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background-position: 50%;
    max-width: 100%;
    position: relative;
    border-radius: 3px;
    background-size: cover;
    cursor: pointer;
}
.ad_list_body{
    flex-grow: 1;
    padding-left: 12px;
}

.ad_list_info{
    font-size: 13px;

}
.ad_list_rating{
    color: #3bb33b;
}
